<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ext1</title>
    <link rel="stylesheet" type="text/css" href="ext/resources/css/ext-all.css">
    <script type="text/javascript" src="ext/bootstrap.js"></script>
    <script type="text/javascript" src="ExtJs/hello.js"></script>
</head>
<body>
<button id="btn1" onclick="click1()">点我试试</button>
<button id="btn2" onclick="click2()">获取动态的时间</button>
<button id="btn3" onclick="click3()">动态更新进度条</button>
<button id="btn4" onclick="click4()">页面组件成为EXT进度条的容器</button>
<div id="p1"></div>
<button id="btn5" onclick="click5()">显示简单的工具栏</button><button id="toolbarset" >设置工具栏可用/不可用</button>
<div id="toolbar"></div>
<button id="btn6" onclick="click6()">二级工具栏</button>
<div id="toolbar1"></div>
<button id="btn7" onclick="click7()">三级工具栏</button>
<div id="toolbar2"></div>
<button id="btn8" onclick="click8()">其他工具栏</button>
<div id="toolbar3"></div>
</body>
</html>