<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>示例1</title>
    <link rel="stylesheet" type="text/css" href="ext/resources/css/ext-all.css">
    <script type="text/javascript" src="ext/bootstrap.js"></script>
    <script type="text/javascript" src="ExtJs/ExtWork1.js"></script>
    <style>
        html,body {
            height: 100%;
            width:100%
        }
    </style>
</head>
<body>
<!--<div style=" height:100%; width: 100%;" id="main"></div>-->
</body>
</html>